// Place all the styles related to the archs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}
.top-image{
  background-image:url('toppage.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  height: 450px;
  // padding-top: 62.5%;
}
.delete_button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  // padding: 0px;
  // font-size: 15px;
  // text-decoration: none;
  // color: rgb(0, 140, 255);
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px 10%;
}

.card{
  display: inline-block;
  text-align: left;
  // padding-bottom: 16px;
}

.card-img-top{
  height: 250px;
}

// .card-body{
//   position: relative;
// 	padding-bottom: 3rem;
// }

.card-title{
  height: 40px;
}

// .card-body-footer{
//   position: absolute;
// 	bottom: 0;
// }

.container{
  margin-top: 56px;
}

.fa-circle-plus{
  position:fixed;
  right:7%;
  bottom:7%;
}