// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users-info{
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  margin-bottom: 80px;
  border-bottom: solid gray 1px;
}

.users-image{
  border-radius: 50%;
}

.users-info-right{
  padding-top: 30px;
  margin-left: 30px;
  width: 30%;
}

.username{
  font-size: 30px;
}

.profile{
  height: 100px;
  background-color: #f1f2f3;
  border-radius: 15%;
}